.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-top {
  background-color: #282c34;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.cards {
  display: flex; /* Enable Flexbox layout */
  justify-content: center;
  align-items: center; /* Vertically center items */
  background-color: lightgreen;
}

.cards > * {
  margin: 5%;
  padding: 2%;
}